<a href="https://colab.research.google.com/github/Yash0082/IGurus/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Strings
 Yash Adagale

In [ ]:
name = 'Yash' # Creating string with single quote
print(name)

Yash

In [ ]:
message ="Hello World!" # Creating String with double quotes
print(message)

Hello World!

### Accessing String Characters in Python

#### Indexing

In [ ]:
greet = "Hello"
print(greet[0])

H

#### Negative Indexing

In [ ]:
print(greet[-1])

o

#### Slicing

In [ ]:
print(greet[:3])

Hel

### Python String are Immutable

In [ ]:
message = "Hello Pune"
message[0] = "H" # cant be updated after the initialization
print(message)

TypeError: ignored

In [ ]:
message = "Hello Pune"
message = "hello world" # but we can assign the same name for the new variable and it will print the lastly initialized string only
print(message)

hello world

### Python Multiline String

In [ ]:
message = """
we can use triple double quotes or
triple single quotes for multiline strings"""
print(message)

we can use triple double quotes or
triple single quotes for multiline strings

### Python String Operation

#### Comparing the 2 strings

In [ ]:
a = "Hello World"
b = "Konichiwa"
c = "Hello World"

print(a==b)

print(a==c)

False
True

#### Join 2 or more string

In [ ]:
greet = "Hello, "
name = "Yash"
res = greet + name
print(res)

Hello, Yash

#### Iterate through string

In [ ]:
for i in res: # where 'i' is the letter
  print(i)

H
e
l
l
o
,

Y
a
s
h

### String Length

In [ ]:
greet = "Hello World"
print(len(greet))

11

### Membership Test

In [ ]:
print("ll" in greet)
print("ed" in greet)

True
False

## Methods in Python Strings

##### upper() - converts the string in caps

In [ ]:
a = "CoLabOratory"
print(a.upper())

COLABORATORY

##### lower() - converts the string in lowercase

In [ ]:
print(a)
print(a.lower())

CoLabOratory
colaboratory

##### partition(x) - returns the string in tuple format and splits at first occurence of x

In [ ]:
print(a.partition("o"))
print(a.partition("B")) # bcoz there is no caps B in CoLabOratory

('C', 'o', 'LabOratory')
('CoLabOratory', '', '')

##### replace('x', 'y') - replaces x with y with string where x and y are substring

In [ ]:
text = "She is young"
print(text)
text = text.replace("is","was")
print(text)

She is young
She was young

##### find(x) - returns the index of the x's first occurence

In [ ]:
print(text.find("yo")) # returns the index of y only
print(text.find("y"))

8
8

##### rstrip(x) - removes the x if it occurs at the end of strings and if x is not there it'll remove the white spaces

In [ ]:
a = "Hello World  d  "
print(a.strip()) # removes the whitespaces
print(a.strip("d  ")) # delete the string from the first occurence of d
print(a.strip('v')) # removes nothing

Hello World  d
Hello Worl
Hello World  d

##### split(seperator,maxsplit) = returns a list and seperates the string when the seperator occurs, maxsplit is optional and used to limit the splits in strings

In [ ]:
a = "S loves Chicken"
print(a.split())
print(a.split("c")) #splits at 'c' and not at 'C' and removes the 'c' from the string
cars = 'BMW-Telsa-Range Rover'
print (cars.split("-"))
print (cars.split("-",1))

['S', 'loves', 'Chicken']
['S loves Chi', 'ken']
['BMW', 'Telsa', 'Range Rover']
['BMW', 'Telsa-Range Rover']

##### startswith() - returns boolean value depending upon the string starts with it or not

In [ ]:
print(cars.startswith("BMW"))

True

##### isnumeric() - returns boolean value depending upon the string contains all the numeric value or not

In [ ]:
a= "12345"
b = "12w3ee4"
print(a.isnumeric())
print(b.isnumeric())

True
False

##### index() -  returns the index of the

In [ ]:
text = 'Chess is fun'
result = text.index('is')
print(result)

6

### String Formatting

In [ ]:
name = 'Yash'
country = 'UK'

print(f'{name} is from {country}')

Yash is from UK

### Escape Sequence - used to escape some of the characters present inside a string.

In [ ]:
example = "He said, "What's there?""
print(example) # throws error

SyntaxError: ignored

In [ ]:
example = "He said, \"What's there?\""
print (example)
example = 'He said, "What\'s there?"'
print(example)

He said, "What's there?"
He said, "What's there?"